[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "<2.3,>=2.2"
djangorestframework = "<3.12,>=3.11"
psycopg2 = "<2.9,>=2.8"
djangorestframework-jsonapi = "*"
django-filter = "*"
djangorestframework-csv = "*"

[requires]
python_version = "3.7"
